<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="top-0" style="background:#111; padding:15px; display:flex; justify-content:space-between; color:white;">
    
    <div>
        <a href="/" style="color:white; margin-right:15px; text-decoration:none;">Home</a>
        <a href="/form" style="color:white; margin-right:15px; text-decoration:none;">Form</a>
    </div>

    <div>
        <strong>EJS App</strong>
    </div>
</nav>
</body>
</html>