<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>It is an HTML File </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, placeat. Aliquid omnis dolore vel culpa consequuntur repellat nam suscipit neque! Est sint omnis, delectus cum perspiciatis amet vero magni laboriosam?
    Eos provident quos tempore voluptatum illo quis et. Pariatur eos praesentium cupiditate! Saepe similique perspiciatis porro, itaque atque enim dolores temporibus labore, accusamus, pariatur aliquam qui iste cumque ad maxime.
    Cumque a veritatis animi ut beatae sint velit nobis facere officia nihil aliquid in non, voluptatem mollitia perspiciatis, odio blanditiis ea placeat libero? Quos eum in molestias cumque, delectus accusamus.
    Distinctio inventore nostrum ratione libero, sit aliquam nulla provident et similique repellat veritatis eligendi nam sunt, reiciendis facere voluptates doloribus, odit unde ea quidem! Perferendis saepe mollitia veritatis praesentium. Ullam.</p>
</body>
</html>